.Rproj.user
.Rhistory
.RData
.Ruserdata

_targets/
_bookdown_files/

lucene/
otp/graphs/default/Graph.obj

data/streetlight_libraries.csv
data/streetlight_groceries.csv
data/streetlight_parks.zip


*.log


# needed to get correct version of java running on multiple-java machines
# see https://gregmacfarlane.github.io/post/2021-06-04-java/
.Renviron
.java-version


# a file for me to get the environment restarted
R/restart.R
